* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
  font-family: Arial, sans-serif;
  background: #eeeeee;
  color: #222;
  }
  
  header {
  background: #123b6d;
  color: white;
  text-align: center;
  padding: 30px;
  }
  
  header h1 {
  font-size: 40px;
  margin-bottom: 10px;
  }
  
  nav {
  background: #09294d;
  text-align: center;
  padding: 15px;
  }
  
  nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  }
  
  main {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  }
  
  .destaque {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 35px;
  }
  
  .destaque img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  }
  
  .destaque h2 {
  padding: 25px;
  font-size: 30px;
  }
  
  .titulo {
  margin-bottom: 20px;
  border-left: 6px solid #1769aa;
  padding-left: 10px;
  }
  
  .noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  }
  
  .card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px #bbbbbb;
  }
  
  .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  }
  
  .card p {
  color: #1769aa;
  font-weight: bold;
  padding: 15px 20px 0;
  }
  
  .card h3 {
  padding: 10px 20px 25px;
  font-size: 21px;
  line-height: 1.4;
  }
  
  footer {
  background: #123b6d;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
  }
  
  @media (max-width: 700px) {
  
 
  .noticias {
      grid-template-columns: 1fr;
  }
  
  nav a {
      display: block;
      margin: 10px;
  }
  
  .destaque img {
      height: 250px;
  }
  
  }
  